<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi amor</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('img/fondo.jpg') no-repeat center center/cover;
            font-family: 'Dancing Script', cursive;
            position: relative;
            color: white;
        }

        h1, h2 {
            color: red; /* Color del texto */
            font-style: italic; /* Texto en cursiva */
            font-family: 'Dancing Script', cursive; /* Fuente cursiva */
            margin: 0;
            text-shadow: 1px 1px 0 #000,  /* Borde negro alrededor del texto */
                         -1px -1px 0 #000,
                         1px -1px 0 #000,
                         -1px 1px 0 #000;
            text-align: center;
        }

        h1 {
            font-size: 8vw;
            animation: fadeInOut 3s infinite;
        }

        h2 {
            font-size: 4vw;
            margin-top: 20px;
            animation: pulse 2s infinite;
        }

        button {
            font-size: 3vw;
            padding: 15px 30px;
            margin-top: 30px;
            border: none;
            background-color: #ff3366;
            color: white;
            cursor: pointer;
            border-radius: 50px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
            display: block;
            margin: 30px auto 0;
        }

        @keyframes fadeInOut {
            0%, 100% {
                opacity: 0.8;
            }
            50% {
                opacity: 1;
            }
        }

        @keyframes pulse {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
        }

        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: -1;
        }
    </style>
</head>
<body>
    <div>
        <h1>Mi preciosa Amy💕</h1>
        <h2>Tengo una pregunta para ti✍(<3)</h2>
        <button onclick="window.location.href='flores.html'">Ver pregunta☞💛</button>
    </div>
</body>
</html>
